.nav-icon {
  width: 60px;
  margin-top: 20px;
  display: inline-block;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
 width: 40px;
}

.nav-items {
  list-style: none;
  display: flex;

}

.nav-items > li {
  padding: 10px;
}

body {
  background-color: rgb(60, 55, 55);
  color: rgb(231, 226, 226);
}

.my-cal-container button {
  display: inline-block;
}